<%- include('header') %>

  <h1 class="h-color" style="margin-top: 0px; margin-bottom: 25px;">Application Submitted!</h1>
  <p class="p-color">Hi <%= firstName %> <%= lastName %>,</p>
  <p class="p-color">We’re glad to have you submitted for an application! One of our talent agents will review your application and submit your approval in less than 72 hours.</p>
  <p class="p-color">You’re one step ahead from your way to connect with your fans!</p>
  <p style="margin-bottom: 0px; " class="p-color">Thanks,</p>
  <p style="margin-top: 0px;" class="p-color">The team</p>
  
<%- include('footer') %>