<%- include('header') %>

  <h1 class="h-color" style="margin-top: 0px; margin-bottom: 25px;">Hi <%= name %>,</h1>
  <p class="p-color">We’re glad to have you onboard! You’re already on your way to creating beautiful visual products.</p>
  <p class="p-color">Whether you’re here for your brand, for a cause, or just for fun — welcome! If there’s anything you need, we’ll be here every step of the way.</p>
  <p style="margin-bottom: 0px; " class="p-color">Thanks,</p>
  <p style="margin-top: 0px;" class="p-color">The team</p>
  <p style="margin-top: 40px;">
    <a href="<%= loginLink %>" class="button">Log in</a>
  </p>
<%- include('footer') %>