<%- include('header') %>

  <h1 class="h-color" style="margin-top: 0px; margin-bottom: 25px;">Application Rejected</h1>
  <p class="p-color"><%= rejectReason %></p>
  
  <p style="margin-top: 40px;">
    <a href="<%= reapplyLink %>" class="button">Re-Apply</a>
  </p>
<%- include('footer') %>