              <p>&nbsp;</p>
              <p class="footer-content">
                This email was sent to <a href="#" class="a-tag">olivia@untitledui.com</a>. If you'd rather not receive this kind of email, you can <a href="#" class="a-tag">unsubscribe</a> or <a href="#" class="a-tag">manage your email preferences</a>.
              </p>
              <p class="footer-content">© 2077 Blonde (Address)</p>
              <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top: 50px;">
                <tr>
                  <td><a href="#"><img src="https://phpstack-1262415-4588533.cloudwaysapps.com/assets/images/blonde-logo.png" alt="Blonde Logo" style="display: block; width: 72px;" /></a></td>
                  <td style="text-align: right;">
                    <a href="#"><img src="https://phpstack-1262415-4588533.cloudwaysapps.com/assets/images/tw-icon.png" alt="X-Twitter"></a>
                    <a href="#" style="margin-left: 10px;"><img src="https://phpstack-1262415-4588533.cloudwaysapps.com/assets/images/fb-icon.png" alt="Facebook"></a>
                    <a href="#" style="margin-left: 10px;"><img src="https://phpstack-1262415-4588533.cloudwaysapps.com/assets/images/insta-icon.png" alt="Instagram"></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>