<%- include('header') %>
  
  <p class="p-color">Hi <%= name %>,</p>
  <p class="p-color">You have requested to reset your password. Please press the button to reset your password. If you did not request this, please ignore it.</p>
  <p style="margin-bottom: 0px;">
    <a class="button" href="<%= resetLink %>">Reset password</a>
  </p>
  <p style="margin-bottom: 0px; " class="p-color">Thanks,</p>
  <p style="margin-top: 0px;" class="p-color">The team</p>

<%- include('footer') %>